.card {
    position: relative;
    cursor: pointer;
    padding: 1rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
}

.profilePic {}

.card:hover {
    filter: contrast(1.1);
    box-shadow: 0 0.2rem 0 var(--theme-invert-90-color);
    transform: translateY(0.1rem);
}

.profilePic {
    aspect-ratio: 1;
    border-radius: 50%;
    max-height: 3rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    gap: 2rem;
}



.column {
    display: flex;
    flex-direction: column;
    flex: 68% 1 1;

}


.icon {
    background: var(--login-button-bg);
    color: var(--theme-invert-90-color);
    aspect-ratio: 1;
    padding: 0.5rem 0.7rem;
    border-radius: 0.5rem;
}



.card,
.icon {
    box-shadow: 0 0.3rem 0 var(--theme-invert-90-color);
    border-radius: 0.5rem;
    border: solid 0.1rem var(--theme-invert-90-color);
    transition: box-shadow 0.2s ease, transform 0.2s ease, filter 0.1s ease-in-out;
}

.icon:hover {
    background: var(--login-button-bg-hover);
}

.icon:active {
    box-shadow: unset;
    transform: translateY(0.3rem);
    color: var(--theme-invert-90-color);
    background: var(--theme-invert-90-color);
    color: var(--login-button-bg-hover);
}

.illus {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.profilePic {
    max-width: 6rem;
    min-height: 6rem;
    object-fit: cover;
}



@media screen and (max-width: 865px) {
    .profilePic {
        max-width: unset;
        min-height: unset;

    }

}