.profileIcon {
    display: flex;
    flex: 1 1 1;
    background: #00000000;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-radius: 0.5rem;
    border: 0;
    background: var(--accent-color);
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: var(--primary-btn-color);
    transition:  background 0.14s ease-out, box-shadow 0.1s ease;
    border: 0.1rem solid var(--theme-invert-90-color);
    color: var(--theme-invert-90-color);
    box-shadow: 0 0.3rem 0 var(--theme-invert-90-color);
    align-items: center;
    gap: 0.3rem;
}

.profileIcon:hover {
    background: var(--hero-bg-light);
    cursor: pointer;
}


.profileIcon:active {
    color: var(--hero-bg-light);
    background: var(--theme-invert-90-color) !important;
    box-shadow: unset;
    transform: translateY(0.3rem);

}