* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-primary: #000;
    --text-primary-hover: #219ebc;
    --login-button-bg: #8ecae6;
    --login-button-bg-hover: #69bce2;
    --primary-btn-color: #fff;
    --theme-invert-90-color: #003049;
    --theme-off-color: #e8f8ff;
}