
#signupbtn:active {
    background: var(--login-button-bg);
    color: var(--theme-off-color);
}

#root{
    padding-inline: 2rem;
}

input{
    font-family: "Playwrite GB S", cursive;
}


button{
justify-content: center;
align-self: stretch;
justify-self: stretch;
display: flex;
padding-inline: 1.5rem;
padding-block: 1rem;
border-radius: 0.5rem;
background: var(--login-button-bg);
font-family: inherit;
font-weight: inherit;
font-size: inherit;
transition: background 0.14s ease-out, box-shadow 0.1s ease;
border: 0.1rem solid var(--theme-invert-90-color);
color: var(--theme-invert-90-color);
box-shadow: 0 0.3rem 0 var(--theme-invert-90-color);
border: solid 0.1rem var(--theme-invert-90-color) !important;
align-items: center;
gap: 0.3rem;}

button:active {
    color: #fff;
    background: var(--theme-invert-90-color) !important;
    box-shadow: unset;
    transform: translateY(0.3rem);
}